/****** Object:  Database [BlueSkiesDB]    Script Date: 5/13/2023 6:36:58 PM ******/
CREATE DATABASE [BlueSkiesDB]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Aircraft]    Script Date: 5/13/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aircraft](
	[aircraft_id] [int] IDENTITY(1,1) NOT NULL,
	[aircraft_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Aircraft] PRIMARY KEY CLUSTERED 
(
	[aircraft_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbUser]    Script Date: 5/13/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbUser](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email_address] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dropzone]    Script Date: 5/13/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dropzone](
	[dropzone_id] [int] IDENTITY(1,1) NOT NULL,
	[dropzone_name] [nvarchar](50) NOT NULL,
	[dropzone_country] [nvarchar](100) NOT NULL,
	[dropzone_phone_number] [nvarchar](50) NOT NULL,
	[dropzone_email_address] [nvarchar](50) NULL,
	[dropzone_state] [nvarchar](50) NULL,
	[dropzone_city] [nvarchar](50) NULL,
	[dropzone_address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Dropzone] PRIMARY KEY CLUSTERED 
(
	[dropzone_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 5/13/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_type] [nvarchar](50) NULL,
	[equipment_brand] [nvarchar](50) NULL,
	[equipment_model] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jump]    Script Date: 5/13/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jump](
	[jump_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[weather_id] [int] NULL,
	[aircraft_id] [int] NULL,
	[equipment_id] [int] NULL,
	[dropzone_id] [int] NOT NULL,
	[jump_number] [int] NOT NULL,
	[jump_date] [datetime] NOT NULL,
	[Jump_type] [nvarchar](50) NOT NULL,
	[exit_altitude] [int] NOT NULL,
	[landing_pattern] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](300) NULL,
	[total_jumpers] [int] NULL,
 CONSTRAINT [PK_Table_1_1] PRIMARY KEY CLUSTERED 
(
	[jump_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 5/13/2023 6:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[weather_id] [int] IDENTITY(1,1) NOT NULL,
	[ground_temperature] [nchar](10) NULL,
	[ground_wind_speed] [nchar](10) NULL,
	[additional_notes] [nvarchar](300) NULL,
	[ground_wind_direction_at_takeoff] [nchar](10) NULL,
	[ground_wind_direction_at_landing] [nchar](10) NULL,
	[temperature_at_jump_altitude] [nchar](10) NULL,
 CONSTRAINT [PK_Weather] PRIMARY KEY CLUSTERED 
(
	[weather_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aircraft] ON 

INSERT [dbo].[Aircraft] ([aircraft_id], [aircraft_name]) VALUES (1, N'Cessna 182')
INSERT [dbo].[Aircraft] ([aircraft_id], [aircraft_name]) VALUES (2, N'Cessna 206')
INSERT [dbo].[Aircraft] ([aircraft_id], [aircraft_name]) VALUES (3, N'Cessna 208 Caravan')
SET IDENTITY_INSERT [dbo].[Aircraft] OFF
GO
SET IDENTITY_INSERT [dbo].[Dropzone] ON 

INSERT [dbo].[Dropzone] ([dropzone_id], [dropzone_name], [dropzone_country], [dropzone_phone_number], [dropzone_email_address], [dropzone_state], [dropzone_city], [dropzone_address]) VALUES (1, N'Skydive Arizona', N'United States', N'+1 520-466-3753', N'info@skydiveaz.com', N'Arizona', N'Eloy', N'4900 N Taylor St, Eloy, AZ 85131')
INSERT [dbo].[Dropzone] ([dropzone_id], [dropzone_name], [dropzone_country], [dropzone_phone_number], [dropzone_email_address], [dropzone_state], [dropzone_city], [dropzone_address]) VALUES (3, N'Skydive Paris', N'United States', N'+1 951-657-3904', N'info@skydiveparis.com', N'California', N'Paris', N'2091 Goetz Rd, Perris, CA 92570')
INSERT [dbo].[Dropzone] ([dropzone_id], [dropzone_name], [dropzone_country], [dropzone_phone_number], [dropzone_email_address], [dropzone_state], [dropzone_city], [dropzone_address]) VALUES (4, N'Skydive Chicago', N'United States', N'+1 815-433-0000', N'info@skydivechicago.com', N'Illinois', N'Ottawa', N'3215 E 1969th Rd, Ottawa, IL 61350')
SET IDENTITY_INSERT [dbo].[Dropzone] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([equipment_id], [equipment_type], [equipment_brand], [equipment_model]) VALUES (1, N'Main Canopy', N'Performance Designs', N'Sabre2')
INSERT [dbo].[Equipment] ([equipment_id], [equipment_type], [equipment_brand], [equipment_model]) VALUES (2, N'Main Canopy', N'Performance Designs', N'Spectre')
INSERT [dbo].[Equipment] ([equipment_id], [equipment_type], [equipment_brand], [equipment_model]) VALUES (3, N'Main Canopy', N'Icarus Canopies', N'Safire 3')
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Weather] ON 

INSERT [dbo].[Weather] ([weather_id], [ground_temperature], [ground_wind_speed], [additional_notes], [ground_wind_direction_at_takeoff], [ground_wind_direction_at_landing], [temperature_at_jump_altitude]) VALUES (1, N'80        ', N'10        ', N'Clear sky, no significant weather patterns.', N'N         ', N'N         ', N'40        ')
INSERT [dbo].[Weather] ([weather_id], [ground_temperature], [ground_wind_speed], [additional_notes], [ground_wind_direction_at_takeoff], [ground_wind_direction_at_landing], [temperature_at_jump_altitude]) VALUES (2, N'65        ', N'5         ', N'Overcast but no rain, good visibility.', N'NE        ', N'NE        ', N'25        ')
INSERT [dbo].[Weather] ([weather_id], [ground_temperature], [ground_wind_speed], [additional_notes], [ground_wind_direction_at_takeoff], [ground_wind_direction_at_landing], [temperature_at_jump_altitude]) VALUES (3, N'90        ', N'15        ', N'Hot and sunny, possible thermal activity.', N'SW        ', N'S         ', N'50        ')
SET IDENTITY_INSERT [dbo].[Weather] OFF
GO
ALTER TABLE [dbo].[Jump]  WITH CHECK ADD  CONSTRAINT [FK_Jump_Aircraft] FOREIGN KEY([aircraft_id])
REFERENCES [dbo].[Aircraft] ([aircraft_id])
GO
ALTER TABLE [dbo].[Jump] CHECK CONSTRAINT [FK_Jump_Aircraft]
GO
ALTER TABLE [dbo].[Jump]  WITH CHECK ADD  CONSTRAINT [FK_Jump_DbUser] FOREIGN KEY([user_id])
REFERENCES [dbo].[DbUser] ([user_id])
GO
ALTER TABLE [dbo].[Jump] CHECK CONSTRAINT [FK_Jump_DbUser]
GO
ALTER TABLE [dbo].[Jump]  WITH CHECK ADD  CONSTRAINT [FK_Jump_Dropzone] FOREIGN KEY([dropzone_id])
REFERENCES [dbo].[Dropzone] ([dropzone_id])
GO
ALTER TABLE [dbo].[Jump] CHECK CONSTRAINT [FK_Jump_Dropzone]
GO
ALTER TABLE [dbo].[Jump]  WITH CHECK ADD  CONSTRAINT [FK_Jump_Equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[Equipment] ([equipment_id])
GO
ALTER TABLE [dbo].[Jump] CHECK CONSTRAINT [FK_Jump_Equipment]
GO
ALTER TABLE [dbo].[Jump]  WITH CHECK ADD  CONSTRAINT [FK_Jump_Weather] FOREIGN KEY([weather_id])
REFERENCES [dbo].[Weather] ([weather_id])
GO
ALTER TABLE [dbo].[Jump] CHECK CONSTRAINT [FK_Jump_Weather]
GO
